In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import in dataset
df = pd.read_csv('se-weather-cleaned.csv')
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV,STATE
0,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-01,29.8,10.3,38.6,11.8,21.0,10.4,WV
1,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-02,29.7,10.3,38.5,11.8,20.9,10.5,WV
2,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-03,29.7,10.4,38.4,11.9,20.9,10.6,WV
3,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-04,29.6,10.4,38.4,11.9,20.8,10.6,WV
4,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-05,29.5,10.5,38.3,11.9,20.8,10.7,WV

In [3]:
# Pull out only NC data
df_nc = df.loc[df['STATE'] == 'NC']
df_nc.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV,STATE
109800,USC00313919,"HAW RIVER 1 E, NC US",36.0638,-79.383,193.9,01-01,2.9,NaN,8.6,NaN,-2.8,NaN,NC
109801,USC00313919,"HAW RIVER 1 E, NC US",36.0638,-79.383,193.9,01-02,2.8,NaN,8.6,NaN,-2.9,NaN,NC
109802,USC00313919,"HAW RIVER 1 E, NC US",36.0638,-79.383,193.9,01-03,2.8,NaN,8.5,NaN,-3.0,NaN,NC
109803,USC00313919,"HAW RIVER 1 E, NC US",36.0638,-79.383,193.9,01-04,2.7,NaN,8.5,NaN,-3.1,NaN,NC
109804,USC00313919,"HAW RIVER 1 E, NC US",36.0638,-79.383,193.9,01-05,2.7,NaN,8.4,NaN,-3.1,NaN,NC

In [4]:
# Determine number of unique stations in dataset
num_stations = df_nc['STATION'].nunique()
num_stations

159