## Southeast USA Daily Normals
Data Source: https://www.ncdc.noaa.gov/cdo-web/search?datasetid=NORMAL_DLY

References
* https://stackoverflow.com/questions/31511997/pandas-dataframe-replace-all-values-in-a-column-based-on-condition
* https://jakevdp.github.io/WhirlwindTourOfPython/14-strings-and-regular-expressions.html
* https://towardsdatascience.com/reverse-geocoding-in-python-a915acf29eb6

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import re
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import requests
import json

# Google developer API key
from config import gkey

### Functions

In [2]:
# This function takes in the station name as a string and extracts the state that the station is in
# This function returns the state two-letter code as a string
def findState(string):
    regex = re.compile(',\s([A-Z][A-Z])')
    state = regex.findall(string)
    return state[0]

### Cleaning Dataset(s)

In [3]:
# Read in first dataset
df1 = pd.read_csv('daily-normals-SE-1.csv')
df1.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV
0,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-02,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-03,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-04,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-05,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Read in second dataset
df2 = pd.read_csv('daily-normals-SE-2.csv')
df2.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV
0,USC00312827,"ENFIELD, NC US",36.1686,-77.675,33.5,01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00312827,"ENFIELD, NC US",36.1686,-77.675,33.5,01-02,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00312827,"ENFIELD, NC US",36.1686,-77.675,33.5,01-03,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00312827,"ENFIELD, NC US",36.1686,-77.675,33.5,01-04,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00312827,"ENFIELD, NC US",36.1686,-77.675,33.5,01-05,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Read in third dataset
df3 = pd.read_csv('daily-normals-SE-3.csv')
df3.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV
0,USC00406271,"MORRISTOWN RADIO WCR, TN US",36.2067,-83.3325,409.7,01-01,36.0,10.1,45.7,11.0,26.4,10.9
1,USC00406271,"MORRISTOWN RADIO WCR, TN US",36.2067,-83.3325,409.7,01-02,36.0,10.1,45.6,11.0,26.3,10.9
2,USC00406271,"MORRISTOWN RADIO WCR, TN US",36.2067,-83.3325,409.7,01-03,35.9,10.1,45.6,10.9,26.2,10.9
3,USC00406271,"MORRISTOWN RADIO WCR, TN US",36.2067,-83.3325,409.7,01-04,35.9,10.0,45.6,10.9,26.2,10.9
4,USC00406271,"MORRISTOWN RADIO WCR, TN US",36.2067,-83.3325,409.7,01-05,35.8,10.0,45.6,10.9,26.1,10.9

In [6]:
# Combine datasets
df = pd.concat([df1, df2, df3])
df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV
0,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-01,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-02,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-03,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-04,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00441955,"CONCORD 4 SSW, VA US",37.2819,-78.9591,248.4,01-05,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
218103,USC00017947,"SULLIGENT, AL US",33.8998,-88.1326,106.7,12-27,NaN,NaN,NaN,NaN,NaN,NaN
218104,USC00017947,"SULLIGENT, AL US",33.8998,-88.1326,106.7,12-28,NaN,NaN,NaN,NaN,NaN,NaN
218105,USC00017947,"SULLIGENT, AL US",33.8998,-88.1326,106.7,12-29,NaN,NaN,NaN,NaN,NaN,NaN
218106,USC00017947,"SULLIGENT, AL US",33.8998,-88.1326,106.7,12-30,NaN,NaN,NaN,NaN,NaN,NaN
218107,USC00017947,"SULLIGENT, AL US",33.8998,-88.1326,106.7,12-31,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Check for missing values
df.count()

STATION            418300
NAME               418300
LATITUDE           418300
LONGITUDE          418300
ELEVATION          418300
DATE               418300
DLY-TAVG-NORMAL    342576
DLY-TAVG-STDDEV    261690
DLY-TMAX-NORMAL    342576
DLY-TMAX-STDDEV    261690
DLY-TMIN-NORMAL    342576
DLY-TMIN-STDDEV    261690
dtype: int64

In [8]:
# Drop all rows that are missing daily normals (avg, max, min)
df_clean_1 = df.dropna(subset=['DLY-TAVG-NORMAL', 'DLY-TMAX-NORMAL', 'DLY-TMIN-NORMAL'])

In [9]:
# Check for additional missing values
df_clean_1.count()

STATION            342576
NAME               342576
LATITUDE           342576
LONGITUDE          342576
ELEVATION          342576
DATE               342576
DLY-TAVG-NORMAL    342576
DLY-TAVG-STDDEV    261690
DLY-TMAX-NORMAL    342576
DLY-TMAX-STDDEV    261690
DLY-TMIN-NORMAL    342576
DLY-TMIN-STDDEV    261690
dtype: int64

In [10]:
df_clean_1

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV
366,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-01,29.8,10.3,38.6,11.8,21.0,10.4
367,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-02,29.7,10.3,38.5,11.8,20.9,10.5
368,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-03,29.7,10.4,38.4,11.9,20.9,10.6
369,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-04,29.6,10.4,38.4,11.9,20.8,10.6
370,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-05,29.5,10.5,38.3,11.9,20.8,10.7
...,...,...,...,...,...,...,...,...,...,...,...,...
217371,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-27,38.3,NaN,47.8,NaN,28.7,NaN
217372,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-28,38.1,NaN,47.7,NaN,28.6,NaN
217373,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-29,38.0,NaN,47.6,NaN,28.5,NaN
217374,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-30,37.9,NaN,47.4,NaN,28.4,NaN
217375,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-31,37.8,NaN,47.3,NaN,28.3,NaN

### Adding State Column

In [11]:
# Pull state out of station name and add to state column
df_clean_2 = df_clean_1.copy()
df_clean_2['STATE'] = df_clean_2['NAME'].apply(findState)
df_clean_2

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV,STATE
366,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-01,29.8,10.3,38.6,11.8,21.0,10.4,WV
367,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-02,29.7,10.3,38.5,11.8,20.9,10.5,WV
368,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-03,29.7,10.4,38.4,11.9,20.9,10.6,WV
369,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-04,29.6,10.4,38.4,11.9,20.8,10.6,WV
370,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-05,29.5,10.5,38.3,11.9,20.8,10.7,WV
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217371,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-27,38.3,NaN,47.8,NaN,28.7,NaN,TN
217372,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-28,38.1,NaN,47.7,NaN,28.6,NaN,TN
217373,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-29,38.0,NaN,47.6,NaN,28.5,NaN,TN
217374,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-30,37.9,NaN,47.4,NaN,28.4,NaN,TN
217375,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-31,37.8,NaN,47.3,NaN,28.3,NaN,TN

In [12]:
# Review sample to verify accurate state assignment
df_test_states = df_clean_2.sample(20)
df_test_states

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV,STATE
60753,USW00073803,"TALLADEGA 10 NNE, AL US",33.57210,-86.05730,160.0,01-07,42.3,NaN,53.2,NaN,31.4,NaN,AL
186713,USC00409155,"TULLAHOMA, TN US",35.34528,-86.20889,311.5,03-18,49.8,9.0,61.4,10.5,38.1,9.6,TN
168155,USC00154208,"JAMESTOWN, KY US",37.00550,-85.06160,271.3,06-30,74.5,4.7,86.4,5.1,62.6,5.7,KY
180771,USC00013154,"GADSDEN, AL US",34.02190,-85.98780,172.2,12-21,42.9,9.5,53.1,10.6,32.7,10.2,AL
50700,USC00318500,"TARBORO 1 S, NC US",35.88470,-77.53860,10.7,07-13,79.7,4.0,89.4,5.1,70.1,4.5,NC
95046,USC00443267,"GALAX RADIO WBRF, VA US",36.66330,-80.91390,726.9,09-15,63.3,5.5,74.3,6.3,52.2,7.1,VA
40290,USC00155694,"MURRAY, KY US",36.61220,-88.30830,160.6,02-07,39.1,10.7,47.9,12.0,30.4,10.9,KY
104868,USC00150940,"BRADFORDSVILLE, KY US",37.49500,-85.15160,201.2,07-24,76.4,4.4,87.9,5.2,64.9,5.2,KY
68406,USC00150402,"BARDWELL 2 E, KY US",36.88300,-88.99610,125.0,12-06,40.0,9.4,49.8,10.3,30.2,10.4,KY
24644,USC00406162,"MONTEAGLE, TN US",35.22430,-85.84140,563.9,05-07,61.7,6.9,71.3,7.5,52.0,7.5,TN
27863,USC00091732,"CEDARTOWN, GA US",34.05880,-85.23380,239.3,02-22,45.1,8.8,57.6,10.3,32.7,10.0,GA
33103,USW00003878,"TROY MUNICIPAL AIRPORT, AL US",31.86056,-86.01222,121.0,06-18,78.5,NaN,89.7,NaN,67.3,NaN,AL
39753,USC00385290,"LONGTOWN, SC US",34.34860,-80.83480,164.0,08-14,78.8,NaN,88.7,NaN,68.8,NaN,SC
18290,USC00314063,"HIGH POINT, NC US",35.96720,-79.97220,274.3,12-22,41.3,9.5,51.5,10.5,31.1,10.0,NC
87230,USC00449025,"WEST POINT 2 NW, VA US",37.56580,-76.80000,6.1,05-07,64.5,7.1,77.3,8.3,51.8,7.8,VA
194645,USC00015553,"MONTGOMERY 6 SW, AL US",32.26000,-86.21800,68.6,11-19,55.3,8.1,68.0,8.1,42.7,10.6,AL
95956,USC00388440,"SUMTER, SC US",33.93640,-80.35690,53.9,03-11,52.1,8.8,64.8,10.3,39.5,9.0,SC
5428,USC00440188,"AMELIA 8 NE, VA US",37.42550,-77.89150,27.4,10-31,51.3,NaN,66.4,NaN,36.2,NaN,VA
91698,USC00158446,"WARSAW MARKLAND DAM, KY US",38.77440,-84.96720,142.0,07-29,75.1,4.7,86.0,5.4,64.2,5.6,KY
90369,USW00093846,"ANDERSON CO AIRPORT, SC US",34.49770,-82.70970,231.6,12-05,46.0,8.1,56.3,9.0,35.6,9.3,SC

In [13]:
# Determine states included in dataset
states = df_clean_2['STATE'].unique()
states

array(['WV', 'VA', 'SC', 'MD', 'NC', 'TN', 'GA', 'AL', 'KY', 'IN', 'IL'],
      dtype=object)

In [14]:
# Drop rows associated with states not in the Southwest
for state in ['MD', 'IN', 'IL']:
    df_clean_2.drop(df_clean_2[df_clean_2['STATE'] == state].index, inplace=True)

# Check that unwanted states were dropped
df_clean_2['STATE'].unique()

array(['WV', 'VA', 'SC', 'NC', 'TN', 'GA', 'AL', 'KY'], dtype=object)

## Find Counties and Zip Codes for Stations

In [15]:
# Pull out dataframe of stations metadata
stations = df_clean_2[['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'STATE']].drop_duplicates()
stations

            STATION                            NAME  LATITUDE  LONGITUDE STATE
366     USC00461324     CACAPON STATE PARK 2, WV US   39.5064   -78.3158    WV
732     USC00442009                   CORBIN, VA US   38.2022   -77.3747    VA
1098    USC00440187      AMELIA COURTHOUSE 1, VA US   37.3451   -77.9781    VA
1464    USC00442245                 DANVILLE, VA US   36.5869   -79.3886    VA
2196    USC00466212  MORGANTOWN LOCK AND DAM, WV US   39.6203   -79.9698    WV
...             ...                             ...       ...        ...   ...
214083  USC00014798               LIVINGSTON, AL US   32.5811   -88.1897    AL
215180  USC00152214                  DIX DAM, KY US   37.7858   -84.7077    KY
215912  USC00150397            BARDSTOWN 5 E, KY US   37.8194   -85.3847    KY
216278  USC00152575                   ETOILE, KY US   36.8276   -85.8975    KY
217010  USC00402711          EAGLEVILLE 1 SW, TN US   35.7285   -86.6435    TN

[932 rows x 5 columns]

In [16]:
# Create column that has coordinates combined in a string
stations['COORD'] = stations['LATITUDE'].map(str) + ',' + stations['LONGITUDE'].map(str)
stations

,STATION,NAME,LATITUDE,LONGITUDE,STATE,COORD
366,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,WV,"39.5064,-78.3158"
732,USC00442009,"CORBIN, VA US",38.2022,-77.3747,VA,"38.2022,-77.3747"
1098,USC00440187,"AMELIA COURTHOUSE 1, VA US",37.3451,-77.9781,VA,"37.3451,-77.9781"
1464,USC00442245,"DANVILLE, VA US",36.5869,-79.3886,VA,"36.5869,-79.3886"
2196,USC00466212,"MORGANTOWN LOCK AND DAM, WV US",39.6203,-79.9698,WV,"39.6203,-79.9698"
...,...,...,...,...,...,...
214083,USC00014798,"LIVINGSTON, AL US",32.5811,-88.1897,AL,"32.5811,-88.1897"
215180,USC00152214,"DIX DAM, KY US",37.7858,-84.7077,KY,"37.7858,-84.7077"
215912,USC00150397,"BARDSTOWN 5 E, KY US",37.8194,-85.3847,KY,"37.8194,-85.3847"
216278,USC00152575,"ETOILE, KY US",36.8276,-85.8975,KY,"36.8276,-85.8975"
217010,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,TN,"35.7285,-86.6435"

In [17]:
# Set up reverse geocoding function
locator = Nominatim(user_agent='myGeocoder', timeout=10)
rgeocode = RateLimiter(locator.reverse, min_delay_seconds=0.001)

# Create columns for county and zip code
stations['COUNTY'] = ''
stations['ZIP'] = ''

# Pull county and zip code for each station
for index, row in stations.iterrows():
    try:
        coord = row['COORD']
        address = rgeocode(coord)
        county = address.raw['address']['county']
        zipcode = address.raw['address']['postcode']
        stations.loc[index, 'COUNTY'] = county
        stations.loc[index, 'ZIP'] = zipcode
        print(f"{row['NAME']} complete.")
    except:
        print(f"Cannot find {row['NAME']}.")
    
print('Reverse geocoding complete.')

Cannot find CACAPON STATE PARK 2, WV US.
CORBIN, VA US complete.
AMELIA COURTHOUSE 1, VA US complete.
Cannot find DANVILLE, VA US.
MORGANTOWN LOCK AND DAM, WV US complete.
ROWLESBURG 1, WV US complete.
HUNTINGTON SWG PLANT, WV US complete.
LONDON LOCKS, WV US complete.
BREAKS INTERSTATE PARK, VA US complete.
BOSTON 4 SE, VA US complete.
AMELIA 8 NE, VA US complete.
CHARLESTON INTL. AIRPORT, SC US complete.
MUSTOE 1 SW, VA US complete.
SANDHILL RESEARCH, SC US complete.
FLAT TOP, WV US complete.
OCEANA NAS, VA US complete.
GREENVILLE DOWNTOWN AIRPORT, SC US complete.
COLUMBIA METROPOLITAN AIRPORT, SC US complete.
FENTRESS NAVAL AUXILIARY FIELD, VA US complete.
BUCKEYE, WV US complete.
CHARLESTON WSFO, WV US complete.
CLINTWOOD 1 W, VA US complete.
SOUTH BOSTON, VA US complete.
BIG STONE GAP, VA US complete.
GREENBAY 3 NE, VA US complete.
PULASKI 2 E, VA US complete.
STONEWALL JACKSON DAM, WV US complete.
FREDERICKSBURG SEWAGE, VA US complete.
RIPLEY, WV US complete.
WILLIAMSON, WV US complete.
JOHN H KERR DAM, VA US complete.
LEBANON, VA US complete.
PIEDMONT RESEARCH STATION, VA US complete.
KEYSER 2 SSW, WV US complete.
SPARTANBURG 3 SSE, SC US complete.
REMINGTON 2, VA US complete.
BLUEFIELD, WV US complete.
OAK HILL, WV US complete.
NORTH, VA US complete.
WAKEFIELD MUNICIPAL AIRPORT, VA US complete.
GREELEYVILLE 5 N, SC US complete.
PARR, SC US complete.
ASHLAND HANOVER CO MUNICIPAL AIRPORT, VA US complete.
NEWBERRY, SC US complete.
QUANTICO MCAS, VA US complete.
EFFINGHAM, SC US complete.
ELKINS 21 ENE, WV US complete.
Cannot find BIG MEADOWS, VA US.
PEA RIDGE PSD, WV US complete.
GRANTSVILLE 1 ESE, WV US complete.
MARTINSBURG 2, WV US complete.
LAWRENCEVILLE 3 E, VA US complete.
Cannot find COOPERS ROCK STATE FOREST, WV US.
NORFOLK INTERNATIONAL AIRPORT, VA US complete.
BUCKHANNON, WV US complete.
Cannot find KUMBRABOW, WV US.
Cannot find GATHRIGHT DAM, VA US.
NORFOLK SOUTH, VA US complete.
TERRA ALTA NUMBER 1, WV US complete.
WYTHEVILLE, VA US complete.
BLUESTONE LAKE, WV US complete.
CHESNEE 7 WSW, SC US complete.
Cannot find SUTTON LAKE, WV US.
Cannot find MCCLELLANVILLE 7 NE, SC US.
PARKERSBURG, WV US complete.
CHARLESTON YEAGER AIRPORT, WV US complete.
FLORENCE REGIONAL AIRPORT, SC US complete.
WASHINGTON REAGAN NATIONAL AIRPORT, VA US complete.
Cannot find ROANOKE REGIONAL AIRPORT, VA US.
RICHMOND INTERNATIONAL AIRPORT, VA US complete.
SNOWSHOE, WV US complete.
SOMERSET, VA US complete.
CLEMSON UNIVERSITY, SC US complete.
BUCHANAN, VA US complete.
LEXINGTON, VA US complete.
Cannot find BROOKGREEN GARDENS, SC US.
MOUNDSVILLE, WV US complete.
NORFOLK NAS, VA US complete.
LOUISA, VA US complete.
SALUDA, SC US complete.
BAMBERG, SC US complete.
ORANGEBURG MUNICIPAL AIRPORT, SC US complete.
CHARLOTTESVILLE 2 SSE, VA US complete.
DALE ENTERPRISE, VA US complete.
CADES 4 W, SC US complete.
ABINGDON 3 S, VA US complete.
CHARLOTTESVILLE 2 W, VA US complete.
ROCKY MOUNT, VA US complete.
WHITE SULPHUR SPRINGS, WV US complete.
GRNVL SPART INTERNATIONAL AIRPORT, SC US complete.
LONGTOWN, SC US complete.
DAVIS 3 SE, WV US complete.
Cannot find BECKLEY RALEIGH CO AIRPORT, WV US.
NORA 4 SSE, VA US complete.
ELIZABETH, WV US complete.
GLENVILLE, WV US complete.
Cannot find MIDDLEBOURNE 3 ESE, WV US.
PALMYRA 3 S, VA US complete.
Cannot find NEWPORT NEWS INTERNATIONAL AIRPORT, VA US.
WHEELING OHIO CO AIRPORT, WV US complete.
HACKER VALLEY, WV US complete.
CEDAR CREEK 2 E, SC US complete.
COLUMBIA OWENS DOWNTOWN AIRPORT, SC US complete.
Cannot find SANDYVILLE 9 NE, WV US.
MONTICELLO, VA US complete.
DRY CREEK, WV US complete.
GRUNDY, VA US complete.
CHARLOTTE COURT HOUSE, VA US complete.
HUNTINGTON TRI STATE AIRPORT, WV US complete.
WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US complete.
WALLOPS ISLAND WALLOPS FLIGHT FACILITY, VA US complete.
LONG CREEK, SC US complete.
UNION 8 S, SC US complete.
MADISON, VA US complete.
CAPE CHARLES 5 ENE, VA US complete.
BLUEFIELD MERCER CO AIRPORT, WV US complete.
SUMMERVILLE 4 W, SC US complete.
ROCK HILL YORK CO AIRPORT, SC US complete.
GREENWOOD CO AIRPORT, SC US complete.
CHARLOTTESVILLE ALBEMARLE AIRPORT, VA US complete.
Cannot find CHERAW, SC US.
MANNINGTON 8 WNW, WV US complete.
EDINBURG, VA US complete.
CHRISTIANSBURG, VA US complete.
Cannot find WARRENTON 3 SE, VA US.
BARNWELL 5 ENE, SC US complete.
APPOMATTOX, VA US complete.
PETERSBURG, WV US complete.
SANDY RUN 3 ENE, SC US complete.
PAINTER 2 W, VA US complete.
WARSAW 2 NW, VA US complete.
Cannot find EMPORIA 1 WNW, VA US.
SANDY SPRINGS 2 NE, SC US complete.
WINCHESTER 7 SE, VA US complete.
R.D. BAILEY LAKE, WV US complete.
MULLINS, SC US complete.
MOOREFIELD 1 SSE, WV US complete.
MOUNT NEBO 1 S, WV US complete.
YORK 4 S, SC US complete.
WINCHESTER, VA US complete.
MONCKS CORNER 4 N, SC US complete.
Cannot find FRANKLIN 2 NE, WV US.
JOHNSTON 4 SW, SC US complete.
FAIRMONT, WV US complete.
ALLENDALE 2 NW, SC US complete.
BURKES GARDEN, VA US complete.
Cannot find SUGAR GROVE 4 NNE, WV US.
WESTON, WV US complete.
CANAAN VALLEY NUMBER 2, WV US complete.
Cannot find CAMP PICKETT, VA US.
MCROSS 3 E, WV US complete.
OCEANA 2 SE, WV US complete.
PIKE ISLAND LOCK AND DAM, WV US complete.
MANNING, SC US complete.
Cannot find HOLLAND 1 E, VA US.
BARTOW 1 S, WV US complete.
HARTSVILLE, SC US complete.
WALHALLA, SC US complete.
WINFIELD LOCKS, WV US complete.
SOUTHSIDE 3 NNW, WV US complete.
LAURENS, SC US complete.
STERLING RCS, VA US complete.
GREENWOOD, SC US complete.
SULLIVANS ISLAND, SC US complete.
Cannot find LYNCHBURG NUMBER 2, VA US.
DISPUTANTA, VA US complete.
BELINGTON, WV US complete.
GLADY 1 N, WV US complete.
PINEVILLE, WV US complete.
SANDSTON, VA US complete.
WEBSTER SPRINGS, WV US complete.
WINNSBORO, SC US complete.
BURTON, WV US complete.
Cannot find SUFFOLK LAKE KILBY, VA US.
CLARKS HILL 1 W, SC US complete.
BENNETTSVILLE, SC US complete.
Cannot find PARSONS 1 NE, WV US.
PICKENS 2 N, WV US complete.
EASTVILLE, VA US complete.
CALHOUN FALLS, SC US complete.
BAYARD, WV US complete.
PHILIPPI, WV US complete.
WEST UNION 2, WV US complete.
VIENNA, VA US complete.
Cannot find HOGSETT R.C. BYRD DAM, WV US.
ANDREWS, SC US complete.
TABLE ROCK, SC US complete.
Cannot find NINETY NINE ISLANDS, SC US.
MILLGAP, VA US complete.
MCCOLL 3 NNW, SC US complete.
WILLIAMSBURG 2 N, VA US complete.
STAUNTON WATER TREATMENT PLANT, VA US complete.
MARION, SC US complete.
ASHLAND, VA US complete.
Cannot find HAMPTON UNIVERSITY, VA US.
GASSAWAY, WV US complete.
HOT SPRINGS, VA US complete.
TYE RIVER 1 SE, VA US complete.
MYRTLE BEACH, SC US complete.
WEST POINT 2 NW, VA US complete.
WOODSTOCK 2 NE, VA US complete.
SPENCER, WV US complete.
PICKENS, SC US complete.
STUART, VA US complete.
BISHOPVILLE 1 ENE, SC US complete.
COLUMBIA UNIVERSITY OF SC, SC US complete.
ANDERSON CO AIRPORT, SC US complete.
CAESARS HEAD, SC US complete.
ANDERSON, SC US complete.
BLAND, VA US complete.
Cannot find WALLACETON LK DRUMND, VA US.
Cannot find FROST 3 NE, WV US.
MARLINTON, WV US complete.
ROMNEY 1 SW, WV US complete.
Cannot find MANASSAS, VA US.
SALTVILLE 1 N, VA US complete.
PETERSBURG, VA US complete.
SPERRYVILLE, VA US complete.
Cannot find GALAX RADIO WBRF, VA US.
Cannot find GALAX WATER PLANT, VA US.
WHEELING, WV US complete.
SUMTER, SC US complete.
NORTH MYRTLE BEACH GRAND STRAND AIRPORT, SC US complete.
STAR TANNERY, VA US complete.
LAKE CITY 2 SE, SC US complete.
Cannot find BEAUFORT MCAS, SC US.
CLEMSON OCONEE CO AIRPORT, SC US complete.
Cannot find EDISTO ISLAND MIDDLETON PLANTATION, SC US.
CHESTERFIELD 3 E, SC US complete.
EDISTO BEACH STATE PARK, SC US complete.
WALKERTON 2 NW, VA US complete.
MADISON 3 NNW, WV US complete.
Cannot find HOPEWELL, VA US.
COVINGTON FILTER PLANT, VA US complete.
Cannot find WAYNESBORO WATER TREATMENT, VA US.
HARRISVILLE, WV US complete.
WEST PELZER 2 W, SC US complete.
LITTLE MOUNTAIN, SC US complete.
HEMINGWAY 8 ESE, SC US complete.
PELION 4 N, SC US complete.
Cannot find BROOKNEAL, VA US.
UNION 3 SSE, WV US complete.
LINCOLN, VA US complete.
CLARKSVILLE, VA US complete.
CONWAY, SC US complete.
CHESTER 1 SE, SC US complete.
ELKINS RANDOLPH CO AIRPORT, WV US complete.
Cannot find DANVILLE REGIONAL AIRPORT, VA US.
BLACKVILLE 3 W, SC US complete.

RADFORD 3 N, VA US complete.
LOST RIVER, WV US complete.
MARTINSVILLE FILTER PLANT, VA US complete.
ANSTEAD HAWKS NEST STATE PARK, WV US complete.
Cannot find RICHWOOD 1 SSE, WV US.
Cannot find JOCASSEE 8 WNW, SC US.
RICHLANDS, VA US complete.
STAFFORDSVILLE 3 ENE, VA US complete.
MORGANTOWN HART FIELD, WV US complete.
MARTINSBURG EASTERN WEST VIRGINIA REGIONAL AIRPORT, WV US complete.
LYNCHBURG INTERNATIONAL AIRPORT, VA US complete.
ORANGEBURG 2, SC US complete.
CHATHAM, VA US complete.
BLACKSBURG NATIONAL WEATHER SERVICE OFFICE, VA US complete.
ROCK CAVE 2 NE, WV US complete.
HAMLIN, WV US complete.
PENNINGTON GAP, VA US complete.
FARMVILLE 2 N, VA US complete.
CROZIER, VA US complete.
WAKEFIELD 1 NW, VA US complete.
STONY CREEK 2 N, VA US complete.
LEWISBURG 3 N, WV US complete.
SUMMERSVILLE LAKE, WV US complete.
WINTHROP UNIVERSITY, SC US complete.
WISE 1 SE, VA US complete.
RIDGEVILLE, SC US complete.
MCCORMICK, SC US complete.
YEMASSEE 1 N, SC US complete.
Cannot find LANGLEY AIR FORCE BASE, VA US.
Cannot find PARKERSBURG AIRPORT, WV US.
SANTUCK, SC US complete.
CHESNEE 7 WSW, SC US complete.
DUNLOW 1 SW, WV US complete.
CLARKSBURG 1, WV US complete.
Cannot find CHASE CITY, VA US.
FRONT ROYAL, VA US complete.
BECKLEY VA HOSPITAL, WV US complete.
CLARKSBURG BENEDUM AIRPORT, WV US complete.
DILLON, SC US complete.
LOGAN, WV US complete.
DARLINGTON, SC US complete.
BREMO BLUFF, VA US complete.
ALDERSON, WV US complete.
MULLENS 3 E, WV US complete.
TYGART DAM, WV US complete.
ROANOKE 8 N, VA US complete.
Cannot find GEORGETOWN CO AIRPORT, SC US.
Cannot find FLORENCE 8 NE, SC US.
Cannot find LURAY 5 E, VA US.
WALTERBORO 1 SW, SC US complete.
WARDENSVILLE R M FARM, WV US complete.
HAW RIVER 1 E, NC US complete.
BEECH MOUNTAIN, NC US complete.
GREENVILLE, NC US complete.
WILMINGTON 7 SE, NC US complete.
FAIRFIELD, NC US complete.
WASHINGTON WWTP 4 W, NC US complete.
KINSTON AG RESEARCH, NC US complete.
ROANOKE RAPIDS, NC US complete.
CONCORD, NC US complete.
ARCOLA, NC US complete.
BREVARD, NC US complete.
LEWISTON, NC US complete.
OCRACOKE, NC US complete.
WILMINGTON 7 N, NC US complete.
GASTONIA, NC US complete.
OXFORD AG, NC US complete.
LEXINGTON, NC US complete.
REIDSVILLE 2 NW, NC US complete.
CHARLOTTE DOUGLAS AIRPORT, NC US complete.
HIGHLANDS, NC US complete.
ALBEMARLE, NC US complete.
Cannot find TAPOCO, NC US.
CHAPEL HILL WILLIAMS AIRPORT, NC US complete.
MANTEO AIRPORT, NC US complete.
ELIZABETH CITY, NC US complete.
CELO 2 S, NC US complete.
ENKA, NC US complete.
LAURINBURG MAXTON AIRPORT, NC US complete.
BURLINGTON ALAMANCE REGIONAL AIRPORT, NC US complete.
HAYESVILLE 1 SW, NC US complete.
WILSON 3 SW, NC US complete.
JACKSON, NC US complete.
MOORES CREEK NATIONAL BATTLEFIELD, NC US complete.
SHELBY 2 NW, NC US complete.
WHITEVILLE 7 NW, NC US complete.
Cannot find AURORA 6 N, NC US.
BURGAW 4 E, NC US complete.
JACKSON SPRINGS 5 WNW, NC US complete.
LAURINBURG, NC US complete.
MURPHY 4 ESE, NC US complete.
NEW HILL, NC US complete.
EAST ARCADIA 2 NE, NC US complete.
HIGH POINT, NC US complete.
RAEFORD, NC US complete.
REELSBORO, NC US complete.
SURF CITY, NC US complete.
LUMBERTON REGIONAL AIRPORT, NC US complete.
WARSAW 5 E, NC US complete.
BURLINGTON FIRE STATION NUMBER 5, NC US complete.
MORGANTON, NC US complete.
PISGAH FOREST 3 NE, NC US complete.
SALISBURY 9 WNW, NC US complete.
FAYETTEVILLE PWC, NC US complete.
WATERVILLE 2, NC US complete.
SALISBURY, NC US complete.
CULLOWHEE, NC US complete.
MOREHEAD CITY 2 WNW, NC US complete.
NORTH WILKESBORO, NC US complete.
ROBBINSVILLE 1 S, NC US complete.
NEW RIVER MCAF, NC US complete.
SPARTA, NC US complete.
CAPE HATTERAS BILLY MITCHELL FIELD, NC US complete.
JACKSONVILLE EOC, NC US complete.
WILMINGTON INTERNATIONAL AIRPORT, NC US complete.
ELIZABETHTOWN 3 SW, NC US complete.
HAMLET, NC US complete.
Cannot find CLINTON 2 NE, NC US.
LINCOLNTON 4 W, NC US complete.
FOREST CITY 8 W, NC US complete.
RICHLANDS, NC US complete.
SMITHFIELD, NC US complete.
LUMBERTON, NC US complete.
RALEIGH STATE UNIVERSITY, NC US complete.
NEW BERN CRAVEN CO REGIONAL AIRPORT, NC US complete.
LUMBER RIVER STATE PARK, NC US complete.
RALEIGH 4 SW, NC US complete.
HAVELOCK CHERRY POINT MCAS, NC US complete.
ASHEVILLE, NC US complete.
Cannot find BENT CREEK, NC US.
DURHAM 11 W, NC US complete.
DUNN 4 NW, NC US complete.
CARY, NC US complete.
ROXBORO 7 ESE, NC US complete.
WALLACE 1 SE, NC US complete.
WAYNESVILLE 1 E, NC US complete.
ASHEBORO 2 W, NC US complete.
WILLARD 4 SW, NC US complete.
COWEETA EXPERIMENT STATION, NC US complete.
WADESBORO, NC US complete.
JEFFERSON, NC US complete.
MARION, NC US complete.
TRANSOU, NC US complete.
FAYETTEVILLE REGIONAL AIRPORT GRANNIS FIELD, NC US complete.
GREENSBORO AIRPORT, NC US complete.
STATESVILLE 2 NNE, NC US complete.
RALEIGH AIRPORT, NC US complete.
Cannot find SWANSBORO BOGUE FIELD MCAF, NC US.
COLUMBIA AG GUM NECK, NC US complete.
DURHAM, NC US complete.
LENOIR, NC US complete.
HENDERSON 2 NNW, NC US complete.
APEX, NC US complete.
BAYBORO 3 E, NC US complete.
CLAYTON WTP, NC US complete.
EDENTON, NC US complete.
SILER CITY, NC US complete.
DANBURY, NC US complete.
MOCKSVILLE 5 SE, NC US complete.
YADKINVILLE 6 E, NC US complete.
W. KERR SCOTT RESV., NC US complete.
Cannot find CANDLER 1 W, NC US.
FALLS LAKE, NC US complete.
GRANDFATHER MOUNTAIN, NC US complete.
PERRYTOWN, NC US complete.
HOFMANN FOREST, NC US complete.
TARBORO 1 S, NC US complete.
Cannot find YANCEYVILLE 4 SE, NC US.
Cannot find SPRUCE PINE 2 NE, NC US.
HOT SPRINGS, NC US complete.
GASTONIA MUNICIPAL AIRPORT, NC US complete.
MONROE AIRPORT, NC US complete.
BANNER ELK, NC US complete.
Cannot find ASHEVILLE 8 SSW, NC US.
HICKORY FAA AIRPORT, NC US complete.
ASHEVILLE 13 S, NC US complete.
Cannot find ASHEVILLE AIRPORT, NC US.
BOONE, NC US complete.
WILLIAMSTON 1 E, NC US complete.
CHAPEL HILL 2 W, NC US complete.
Cannot find LAKE TOXAWAY 2 SW, NC US.
HENDERSONVILLE 1 NE, NC US complete.
SHALLOTTE AG, NC US complete.
LONGWOOD, NC US complete.
MURFREESBORO, NC US complete.
MARSHALL, NC US complete.
SANFORD 8 NE, NC US complete.
TRYON, NC US complete.
LOUISBURG, NC US complete.
Cannot find SOUTHPORT 5 N, NC US.
WINSTON SALEM REYNOLDS AIRPORT, NC US complete.
BEAUFORT MICHAEL J SMITH FIELD, NC US complete.
ELIZABETH CITY COAST GUARD AIR STATION, NC US complete.
CEDAR ISLAND, NC US complete.
FLETCHER 3 W, NC US complete.
Cannot find MOUNT MITCHELL, NC US.
ATLANTIC BEACH WATER PLANT, NC US complete.
TAYLORSVILLE, NC US complete.
FRANKLIN, NC US complete.
RURAL HALL, NC US complete.
Cannot find PLYMOUTH 5 E, NC US.
Cannot find CATALOOCHEE, NC US.
ROCKY MOUNT WILSON AIRPORT, NC US complete.
KINSTON, NC US complete.
MONROE, NC US complete.
FLAT SPRINGS 1 E, NC US complete.
MOUNT AIRY 2 W, NC US complete.
OCONALUFTEE, NC US complete.
FAYETTEVILLE POPE AFB, NC US complete.
GOLDSBORO SEYMOUR JOHNSON AFB, NC US complete.
MORRISTOWN RADIO WCR, TN US complete.
PRIDGEN, GA US complete.
MORRISTOWN WEATHER FORECAST OFFICE, TN US complete.
Cannot find BANKHEAD LOCK AND DAM, AL US.
MOULTRIE 2 ESE, GA US complete.
Cannot find DUBLIN, GA US.
ROCKFORD, AL US complete.
MOSCOW, TN US complete.
CAMILLA 3 SE, GA US complete.
CHATSWORTH 2, GA US complete.
Cannot find LEWISBURG EXPERIMENTAL STATION, TN US.
CHATTANOOGA LOVELL FIELD AIRPORT, TN US complete.
CLAYTON 1 SSW, GA US complete.
VALLEY HEAD, AL US complete.
PHIL, KY US complete.
STEARNS 2 S, KY US complete.
Cannot find AUGUSTA BUSH FIELD AIRPORT, GA US.
SAVANNAH INTERNATIONAL AIRPORT, GA US complete.
PORTLAND SEWAGE PLANT, TN US complete.
Cannot find SODDY DAISY MOWBRAY MOUNTAIN, TN US.
EASTMAN 1 W, GA US complete.
RUSSELLVILLE NUMBER 2, AL US complete.
SPRINGFIELD EXPERIMENTAL STATION, TN US complete.
MEMPHIS INTERNATIONAL AIRPORT, TN US complete.
SELMA, AL US complete.
KNOXVILLE MCGHEE TYSON AIRPORT, TN US complete.
CRESTWOOD 4 NE, KY US complete.
PADUCAH BARKLEY REGIONAL AIRPORT, KY US complete.
NASHVILLE INTERNATIONAL AIRPORT, TN US complete.
CLEVELAND FILTER PLANT, TN US complete.
MUSCLE SHOALS REGIONAL AIRPORT, AL US complete.
MONTGOMERY AIRPORT, AL US complete.
PROVIDENCE, KY US complete.
MOBILE REGIONAL AIRPORT, AL US complete.
Cannot find PICKETT STATE PARK, TN US.

MOUNTAIN CITY 2, TN US complete.
Cannot find HUNTSVILLE INTERNATIONAL AIRPORT JONES FIELD, AL US.
MONTEREY, TN US complete.
QUITMAN 2 NW, GA US complete.
CLARKESVILLE, GA US complete.
LAWRENCEBURG FILTER PLANT, TN US complete.
COLLIERVILLE, TN US complete.
TROY, AL US complete.
SAVANNAH 6 SW, TN US complete.
THORSBY EXPERIMENTAL STATION, AL US complete.
ELIZABETHTON, TN US complete.
LONDON CORBIN AIRPORT, KY US complete.
COLUMBIA 3 WNW, TN US complete.
STANTON 2 W, KY US complete.
MANCHESTER 4 W, KY US complete.
WAYCROSS WARE CO AIRPORT, GA US complete.
OAK RIDGE ATDD, TN US complete.
CODEN, AL US complete.
MONTEAGLE, TN US complete.
PRINCETON 1 SE, KY US complete.
CROSSVILLE MEMORIAL AIRPORT, TN US complete.
ALBANY SW GEORGIA REGIONAL AIRPORT, GA US complete.
Cannot find ASHBURN 3 ENE, GA US.
PARSONS WATER PLANT, TN US complete.
WARTRACE 6 E, TN US complete.
WARNER PARK, TN US complete.
CEDARTOWN, GA US complete.
ANNISTON METROPOLITAN AIRPORT, AL US complete.
Cannot find ALMA BACON CO AIRPORT, GA US.
UNION SPRINGS 9 S, AL US complete.
BRUNSWICK MALCOLM MCKINNON AIRPORT, GA US complete.
BRISTOL TRI CITY AIRPORT, TN US complete.
BIRMINGHAM AIRPORT, AL US complete.
ATLANTA HARTSFIELD INTERNATIONAL AIRPORT, GA US complete.
ATHENS BEN EPPS AIRPORT, GA US complete.
MAYSVILLE SEWAGE PLANT, KY US complete.
SILOAM 3 N, GA US complete.
WASHINGTON, GA US complete.
Cannot find TROY MUNICIPAL AIRPORT, AL US.
SMYRNA 6 S, TN US complete.
ALPHARETTA 4 SSW, GA US complete.
WOODBURY 1 WNW, TN US complete.
WAYNESBORO, TN US complete.
DANIELSVILLE, GA US complete.
CARTERSVILLE, GA US complete.
LAFAYETTE 3 SW, GA US complete.
JONESBORO, GA US complete.
JACKSON, AL US complete.
SMITHVILLE 2 SE, TN US complete.
LA GRANGE, GA US complete.
OPELIKA, AL US complete.
SOMERSET 2 N, KY US complete.
MURRAY, KY US complete.
WARRENTON, GA US complete.
PLAINS SW GA EXPERIMENTAL STATION, GA US complete.
CUMMING 2 N, GA US complete.
SPARTA WASTEWATER PLANT, TN US complete.
VIENNA, GA US complete.
TELLICO PLAINS, TN US complete.
FAYETTEVILLE WATER PLANT, TN US complete.
MOUNT PLEASANT 1 N, TN US complete.
OAK MOUNTAIN STATE PARK, AL US complete.
ONEONTA, AL US complete.
PINSON, AL US complete.
INEZ 2 E, KY US complete.
Cannot find SAND MOUNTAIN SUBSTATION, AL US.
Cannot find KENLAKE RESORT, KY US.
NEWCOMB, TN US complete.
LANCING 6 NW, TN US complete.
MURFREESBORO 5 N, TN US complete.
BUCKHORN LAKE, KY US complete.
DONALSONVILLE, GA US complete.
CLARKSVILLE OUTLAW AIRPORT, TN US complete.
MILAN EXPERIMENTAL STATION, TN US complete.
APPLING 2 NW, GA US complete.
CARROLLTON, GA US complete.
Cannot find WALNUT HILL 3 W, AL US.
BAXLEY 5 NNW, GA US complete.
PULASKI WATER PLANT, TN US complete.
WOODBURY, KY US complete.
BIG SANDY, TN US complete.
DANVILLE, KY US complete.
ROCHESTER FERRY, KY US complete.
MOUNTAIN CITY 2 SW, GA US complete.
WARNER ROBINS, GA US complete.
Cannot find JACKSON JULIAN CARROLL AIRPORT, KY US.
Cannot find ATLANTA FULTON CO AIRPORT, GA US.
WINTERVILLE, GA US complete.
LINDEN WATER PLANT, TN US complete.
LANCASTER EDGAR EVINS, TN US complete.
LENOIR CITY, TN US complete.
CENTREVILLE 2.9 SW, AL US complete.
SPRING CITY, TN US complete.
GRAYSON 2 E, KY US complete.
SCOTTSBORO, AL US complete.
Cannot find WINFIELD 2 SW, AL US.
FRANKFORT LOCK 4, KY US complete.
VERNON, AL US complete.
HIGHLAND HOME 2 S, AL US complete.
Cannot find TALLADEGA 10 NNE, AL US.
FRANKLIN SEWAGE PLANT, TN US complete.
CHICKAMAUGA PARK LARC, GA US complete.
THOMASTON 4 SE, GA US complete.
THOMASVILLE 7 NE, GA US complete.
NASHVILLE 4 N, GA US complete.
Cannot find PEACHTREE CITY FALCON FIELD, GA US.
BAY MINETTE, AL US complete.
Cannot find NEAPOLIS EXPERIMENTAL STATION, TN US.
ROGERSVILLE 1 NE, TN US complete.
GADSDEN 19 N, AL US complete.
FAYETTE, AL US complete.
SELMA 13 WNW, AL US complete.
Cannot find FALL CREEK FALLS SP, TN US.
CROSSVILLE 7 NW, TN US complete.
Cannot find BRUNSWICK 23 S, GA US.
VALLEY HEAD 1 SSW, AL US complete.
MOUSETAIL LANDING STATE PARK, TN US complete.
BARDWELL 2 E, KY US complete.
Cannot find MAMMOTH CAVE, KY US.
EVERGREEN MIDDLETON FIELD, AL US complete.
HAWKINSVILLE, GA US complete.
EVERGREEN, AL US complete.
WOODBINE, GA US complete.
HODGENVILLE LINCOLN, KY US complete.
LIVINGSTON RADIO WLIV, TN US complete.
TALBOTTON, GA US complete.
LEXINGTON 10 NW, TN US complete.
COURTLAND 2 WSW, AL US complete.
FAIRHOPE 3 NE, AL US complete.
GUNTERSVILLE 2 SW, AL US complete.
CULLMAN 3 ENE, AL US complete.
LEXINGTON, TN US complete.
EUFAULA WEEDON FIELD AIRPORT, AL US complete.
FLORALA MUNICIPAL AIRPORT, AL US complete.
RUSSELLVILLE, KY US complete.
GAINESVILLE LEE GILMER MEMORIAL AIRPORT, GA US complete.
MOUNT MORIAH BIRDSONG, TN US complete.
HENDERSON 4 W, TN US complete.
THOMASVILLE, AL US complete.
BOONEVILLE 12 SW, KY US complete.
LOBELVILLE, TN US complete.
LEBANON 7 N, TN US complete.
Cannot find MOUNT LECONTE, TN US.
TAZEWELL, TN US complete.
ELBERTON 2 N, GA US complete.
FRANKFORT CAPITAL CITY AIRPORT, KY US complete.
Cannot find ANDALUSIA OPP AIRPORT, AL US.
EUFAULA WILDLIFE REF, AL US complete.
Cannot find NEWNAN 7 WNW, GA US.
MANCHESTER NUMBER 2, TN US complete.
BERNHEIM FOREST, KY US complete.
Cannot find RUSSELLVILLE 4 SSE, AL US.
WHITE HOUSE, TN US complete.
Cannot find NAHUNTA 6 NE, GA US.
SCOTTSBORO 2 NE, AL US complete.
GREENSBORO 2 WNW, AL US complete.
MUSCLE SHOALS 2 N, AL US complete.
CLANTON 2 NE, AL US complete.
GAINESVILLE 2 NE, AL US complete.
LEBANON, TN US complete.
DECATUR PRYOR FIELD, AL US complete.
HIGHLAND HOME, AL US complete.
AUBURN NUMBER 2, AL US complete.
BLAKELY, GA US complete.
Cannot find DECATUR 7 NE, TN US.
JACKSON 4 NE, TN US complete.
Cannot find CORNERS, KY US.
ROCKWOOD 2, TN US complete.
ONEIDA, KY US complete.
WARSAW MARKLAND DAM, KY US complete.
Cannot find LEESBURG 2, GA US.
Cannot find NEWTON 8 W, GA US.
TUSCALOOSA ACFD, AL US complete.
Cannot find NEWTON 11 SW, GA US.
BELLE MINA, AL US complete.
RIPLEY, TN US complete.
Cannot find BOONEVILLE 1 SE, KY US.
CHILDERSBURG WATER PLANT, AL US complete.
ALLARDT, TN US complete.
JACKSON EXPERIMENTAL STATION, TN US complete.
BEREA COLLEGE, KY US complete.
TALLADEGA, AL US complete.
NORRIS, TN US complete.
TENNESSEE RIDGE, TN US complete.
LYNCHBURG, TN US complete.
PARIS 2 SE, TN US complete.
MADISONVILLE, KY US complete.
MCDANIELS, KY US complete.
JAMESTOWN, TN US complete.
BESSEMER 3 WSW, AL US complete.
ATMORE, AL US complete.
THOMPSON STATION, TN US complete.
WINCHESTER 5 SE, TN US complete.
VERSAILLES 3 NNW, KY US complete.
NEWPORT 1 NW, TN US complete.
MULBERRY GROVE, GA US complete.
MARTIN UNIVERSITY OF TN EXPERIMENT STATION, TN US complete.
OWENS CROSS ROADS 3 S, AL US complete.
SAINT BERNARD, AL US complete.
BRADFORDSVILLE, KY US complete.
SCOTTSVILLE, KY US complete.
SPOTTSVILLE, KY US complete.
FAIRHOPE 2 NE, AL US complete.
CLAYTON, AL US complete.
BLAIRSVILLE EXPERIMENTAL STATION, GA US complete.
LEXINGTON, GA US complete.
LOOKOUT MTN POINT PARK, TN US complete.
SUMMERVILLE, GA US complete.
BOWLING GREEN 21 NNE, KY US complete.
HOHENWALD, TN US complete.
BALL GROUND, GA US complete.
BRANDENBURG, KY US complete.
GAINESBORO, TN US complete.
Cannot find ROCK MILLS, AL US.
WATKINSVILLE 5 SSE, GA US complete.
PAINTSVILLE 1 E, KY US complete.
WEST PADUCAH 2 W, KY US complete.
WARNOCK2, KY US complete.
WEST LIBERTY 11 NW, KY US complete.
WEST LIBERTY 3 NW, KY US complete.
MARROWBONE, KY US complete.
OLIVE HILL 5 NE, KY US complete.
DEMOPOLIS LOCK AND DAM, AL US complete.
GUNTERSVILLE NUMBER 2, AL US complete.
TIFTON, GA US complete.
ADDISON, AL US complete.
LOUISVILLE 1 E, GA US complete.
GUNTERSVILLE, AL US complete.
DOVER 1 W, TN US complete.
GREENEVILLE EXPERIMENTAL STATION, TN US complete.
COLUMBUS NUMBER 2, GA US complete.
MUSCLE SHOALS 3 NE, AL US complete.
HOPKINSVILLE, KY US complete.
COVINGTON 3 SW, TN US complete.
ALAMO 1 N, TN US complete.
COLQUITT 2 W, GA US complete.
MOULTON 2, AL US complete.
BEATTYVILLE 4 N, KY US complete.
ONEIDA, TN US complete.
ROME, GA US complete.
ALICEVILLE, AL US complete.
MCDONOUGH, GA US complete.
ATHENS, TN US complete.
ASHLAND, KY US complete.
KINGSTON SPRINGS, TN US complete.
MEMPHIS ZOO, TN US complete.
CALHOUN LOCK 2, KY US complete.

CORNELIA, GA US complete.
BEAVER DAM, KY US complete.
HENDERSON 8 SSW, KY US complete.
FARMERS 2 S, KY US complete.
MC MINNVILLE, TN US complete.
GLADEVILLE, TN US complete.
HAZLEHURST, GA US complete.
DICKSON, TN US complete.
LEITCHFIELD 2 N, KY US complete.
Cannot find FOLKSTON 9 SW, GA US.
Cannot find COOKEVILLE, TN US.
BRENTWOOD, TN US complete.
DAYTON 2 SE, TN US complete.
LYONS, GA US complete.
Cannot find JESUP 8 S, GA US.
HELENA, AL US complete.
MABLETON 1 N, GA US complete.
Cannot find CENTRE, AL US.
HUNTINGDON WATER PLA, TN US complete.
ALEXANDER CITY, AL US complete.
BROWNSVILLE, TN US complete.
CORDELE, GA US complete.
SAUTEE 3 W, GA US complete.
LOUISVILLE WEATHER FORECAST OFFICE, KY US complete.
GERMANTOWN 4 SE, TN US complete.
HEIDELBERG 2 N, KY US complete.
ROCK ISLAND STATE PARK, TN US complete.
Cannot find TOWNSEND 5 S, TN US.
DECATUR 5 SE, AL US complete.
TOCCOA, GA US complete.
HANCEVILLE, AL US complete.
LAFAYETTE 2 W, AL US complete.
HEFLIN, AL US complete.
TROY 2 W, AL US complete.
BREWTON 3 NNE, AL US complete.
SANDERSVILLE, GA US complete.
ANDERSON, AL US complete.
Cannot find SELMA 6 SSE, AL US.
GOODLETTSVILLE 7 WNW, TN US complete.
Cannot find CRESSY, KY US.
Cannot find ATHENS, AL US.
ATLANTA DEKALB PEACHTREE AIRPORT, GA US complete.
CRAB ORCHARD 6 N, KY US complete.
ALABASTER SHELBY CO AIRPORT, AL US complete.
OAK RIDGE ASOS, TN US complete.
Cannot find HAMILTON 3 S, AL US.
VALDOSTA, GA US complete.
ENTERPRISE 2 W, AL US complete.
HARTWELL, GA US complete.
HEADLAND, AL US complete.
Cannot find HARTWELL DAM, GA US.
ANDALUSIA 3 W, AL US complete.
ELIZABETHTOWN, KY US complete.
ROCKY FORD 4 SE, GA US complete.
Cannot find THOMASVILLE 2 S, AL US.
BAXTER, KY US complete.
CARTERSVILLE AIRPORT, GA US complete.
GREENVILLE, AL US complete.
ASHLAND, AL US complete.
CARTHAGE, TN US complete.
KINGSTON, TN US complete.
GREENSBORO, AL US complete.
Cannot find GATLINBURG 2 SW, TN US.
CHARLEY 2 SW, KY US complete.
CLANTON, AL US complete.
MEMPHIS WEATHER FORECAST OFFICE, TN US complete.
BARREN RIVER LAKE, KY US complete.
CROSSVILLE EXPERIMENTAL STATION, TN US complete.
OLD HICKORY WEATHER FORECAST OFFICE, TN US complete.
CYNTHIANA, KY US complete.
LAFAYETTE, TN US complete.
CAMP HILL 2 NW, AL US complete.
CHATOM, AL US complete.
HELEN, GA US complete.
IRWINTON 4 WNW, GA US complete.
U OF GA PLANT SCIENCE FARM, GA US complete.
HALEYVILLE, AL US complete.
CAMDEN, TN US complete.
KINGSPORT, TN US complete.
CENTERVILLE 4 NE, TN US complete.
Cannot find AMES PLANTATION, TN US.
JEFFERSON CITY, TN US complete.
COMMERCE 4 NNW, GA US complete.
COVINGTON, GA US complete.
SEVIERVILLE, TN US complete.
KITE, GA US complete.
MARION JUNCTION 2 NE, AL US complete.
JAMESTOWN, KY US complete.
CULLMAN NAHS, AL US complete.
AMERICUS, GA US complete.
CAIRO, GA US complete.
FAIRVIEW BOWIE NAT CTR, TN US complete.
BRUNSWICK, GA US complete.
ABBEVILLE, GA US complete.
ROUGH RIVER LAKE, KY US complete.
LEXINGTON BLUEGRASS AIRPORT, KY US complete.
LOUISVILLE INTERNATIONAL AIRPORT, KY US complete.
GIMLET 9 N, KY US complete.
WAYCROSS 4 NE, GA US complete.
Cannot find WAVERLY AIRPORT, TN US.
SELMER, TN US complete.
FORT STEWART, GA US complete.
GEORGETOWN 4 E, GA US complete.
FORT PAYNE, AL US complete.
CINCINNATI NORTHERN KENTUCKY INTERNATIONAL AIRPORT, KY US complete.
CHARLOTTE, TN US complete.
COALMONT, TN US complete.
ALBANY 3 SE, GA US complete.
WETUMPKA, AL US complete.
LOUISVILLE BOWMAN FIELD, KY US complete.
WAYNESBORO, GA US complete.
CELINA, TN US complete.
Cannot find BRIDGEPORT 5 NW, AL US.
GADSDEN, AL US complete.
ALTO 4 SE, GA US complete.
METTER, GA US complete.
GAINESVILLE, GA US complete.
CLARKSVILLE NUMBER 2, TN US complete.
KNOXVILLE EXPERIMENTAL STATION, TN US complete.
BYRDSTOWN, TN US complete.
Cannot find GAINESVILLE LOCK, AL US.
SYLACAUGA 4 NE, AL US complete.
COLUMBUS METROPOLITAN AIRPORT, GA US complete.
VALDOSTA REGIONAL AIRPORT, GA US complete.
SAMBURG W. L. REFUGE, TN US complete.
TULLAHOMA, TN US complete.
SEWANEE, TN US complete.
CLARKSVILLE SEWAGE PLANT, TN US complete.
GLENNVILLE, GA US complete.
MOUNT VERNON, KY US complete.
Cannot find CHEATHAM LOCK AND DAM, TN US.
MEMPHIS NAS, TN US complete.
DOUGLAS, GA US complete.
MONTICELLO 3 NE, KY US complete.
GILBERTSVILLE KY DAM, KY US complete.
WEST POINT, GA US complete.
DOTHAN REGIONAL AIRPORT, AL US complete.
MOBILE DOWNTOWN AIRPORT, AL US complete.
AUGUSTA DANIEL FIELD AIRPORT, GA US complete.
JASPER, AL US complete.
MILLEDGEVILLE, GA US complete.
Cannot find FARGO 17 NE, GA US.
DAUPHIN ISLAND NUMBER 2, AL US complete.
BREWTON 3 SSE, AL US complete.
MONTGOMERY 6 SW, AL US complete.
BROOKLET 1 W, GA US complete.
DAHLONEGA 4 WSW, GA US complete.
Cannot find HOMERVILLE 5 N, GA US.
BREWTON 3 ENE, AL US complete.
UNION CITY, TN US complete.
GREENSBURG, KY US complete.
Cannot find MILSTEAD, AL US.
Cannot find WHITWELL SEQUATCHIE VLY, TN US.
MONTGOMERY BELL SP, TN US complete.
Cannot find MIDVILLE EXPERIMENTAL STATION, GA US.
SHELBYVILLE WATER, TN US complete.
CLEVELAND, GA US complete.
CHRISTIANA 5 W, TN US complete.
FORT GAINES 2, GA US complete.
MONTICELLO, GA US complete.
GENEVA NUMBER 2, AL US complete.
PATTERSON, GA US complete.
ERWIN 1 W, TN US complete.
DALLAS 7 NE, GA US complete.
Cannot find SAPELO ISLAND, GA US.
WEST POINT, AL US complete.
BOLIVAR WATER WORKS, TN US complete.
Cannot find CRISP CO POWER DAM, GA US.
Cannot find ALLATOONA DAM 2, GA US.
PIKEVILLE, TN US complete.
WATERTOWN PUBLIC SAFETY COMPLEX, TN US complete.
Cannot find JACKSON MCKELLAR SIPES REGIONAL AIRPORT, TN US.
MACON MIDDLE GA REGIONAL AIRPORT, GA US complete.
DRESDEN, TN US complete.
JASPER 1 NNW, GA US complete.
TUSCALOOSA MUNICIPAL AIRPORT, AL US complete.
Cannot find BOWLING GREEN WARREN CO AIRPORT, KY US.
CUTHBERT, GA US complete.
NOLIN RIVER LAKE, KY US complete.
Cannot find ROBERTSDALE, AL US.
BARBOURVILLE, KY US complete.
BETHPAGE 1 S, TN US complete.
DYERSBURG MUNICIPAL AIRPORT, TN US complete.
EDDYVILLE 5 S, KY US complete.
Cannot find HARTSVILLE, TN US.
ROME R B RUSSELL AIRPORT, GA US complete.
LIVINGSTON, AL US complete.
Cannot find DIX DAM, KY US.
BARDSTOWN 5 E, KY US complete.
ETOILE, KY US complete.
EAGLEVILLE 1 SW, TN US complete.
Reverse geocoding complete.

In [40]:
# Preview dataframe
stations

,STATION,NAME,LATITUDE,LONGITUDE,STATE,COORD,COUNTY,ZIP
0,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,WV,"39.5064,-78.3158",Alamance County,27258
1,USC00442009,"CORBIN, VA US",38.2022,-77.3747,VA,"38.2022,-77.3747",Avery County,28604
2,USC00440187,"AMELIA COURTHOUSE 1, VA US",37.3451,-77.9781,VA,"37.3451,-77.9781",Pitt County,27834
3,USC00442245,"DANVILLE, VA US",36.5869,-79.3886,VA,"36.5869,-79.3886",New Hanover County,28409
4,USC00466212,"MORGANTOWN LOCK AND DAM, WV US",39.6203,-79.9698,WV,"39.6203,-79.9698",Beaufort County,27889
...,...,...,...,...,...,...,...,...
927,USC00014798,"LIVINGSTON, AL US",32.5811,-88.1897,AL,"32.5811,-88.1897",Sumter County,35470
928,USC00152214,"DIX DAM, KY US",37.7858,-84.7077,KY,"37.7858,-84.7077",NaN,NaN
929,USC00150397,"BARDSTOWN 5 E, KY US",37.8194,-85.3847,KY,"37.8194,-85.3847",Nelson County,40004
930,USC00152575,"ETOILE, KY US",36.8276,-85.8975,KY,"36.8276,-85.8975",Barren County,42141
931,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,TN,"35.7285,-86.6435",Rutherford County,37060

In [17]:
# Extract out stations that are missing county and zip code
missing_geocode = stations.loc[stations['COUNTY'].isnull()]
missing_geocode

,STATION,NAME,LATITUDE,LONGITUDE,STATE,COORD,COUNTY,ZIP
47,USC00440720,"BIG MEADOWS, VA US",38.52160,-78.43550,VA,"38.5216,-78.4355",NaN,NaN
52,USC00461900,"COOPERS ROCK STATE FOREST, WV US",39.67722,-79.77194,WV,"39.67722,-79.77194",NaN,NaN
55,USC00464971,"KUMBRABOW, WV US",38.63110,-80.08560,WV,"38.6311,-80.0856",NaN,NaN
56,USC00443310,"GATHRIGHT DAM, VA US",37.94580,-79.95420,VA,"37.9458,-79.9542",NaN,NaN
62,USC00468662,"SUTTON LAKE, WV US",38.66110,-80.69700,WV,"38.6611,-80.697",NaN,NaN
...,...,...,...,...,...,...,...,...
912,USW00003811,"JACKSON MCKELLAR SIPES REGIONAL AIRPORT, TN US",35.59300,-88.91670,TN,"35.593,-88.9167",NaN,NaN
917,USW00093808,"BOWLING GREEN WARREN CO AIRPORT, KY US",36.96470,-86.42380,KY,"36.9647,-86.4238",NaN,NaN
920,USC00016988,"ROBERTSDALE, AL US",30.56540,-87.70180,AL,"30.5654,-87.7018",NaN,NaN
925,USC00403938,"HARTSVILLE, TN US",36.37556,-86.18083,TN,"36.37556,-86.18083",NaN,NaN
928,USC00152214,"DIX DAM, KY US",37.78580,-84.70770,KY,"37.7858,-84.7077",NaN,NaN

In [47]:
# Create empty list to store any calls that don't work
missing_stations = []

# Use reverse geocoding using Google's Geocoding API to find the rest of the zipcodes and counties
for coord in missing_geocode['COORD']:
    # Assemble url and make API call based on coordinates
    url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={coord}&key={gkey}'
    response = requests.get(url)
    geocoding = response.json()
    
    try:
        # Find zipcode and county within JSON response
        for dict in geocoding['results'][0]['address_components']:
            if 'administrative_area_level_2' in dict['types']:
                county = dict['long_name']
            if 'postal_code' in dict['types']:
                zipcode = dict['long_name']
        # Add zipcode and county to dataframe
        stations.loc[stations['COORD'] == coord, 'COUNTY'] = county
        stations.loc[stations['COORD'] == coord, 'ZIP'] = zipcode

        print(f'Added {coord} to DataFrame.')
    
    except:
        # Store any problematic coordinates
        missing_dict = {}
        missing_dict['JSON'] = geocoding
        missing_dict['COORD'] = coord
        missing_stations.append(missing_dict)
        print(f'Could not add {coord} to DataFrame')

print('Finished Processing')

Added 38.5216,-78.4355 to DataFrame.
Added 39.67722,-79.77194 to DataFrame.
Added 38.6311,-80.0856 to DataFrame.
Added 37.9458,-79.9542 to DataFrame.
Added 38.6611,-80.697 to DataFrame.
Added 33.1532,-79.3637 to DataFrame.
Added 37.3169,-79.9741 to DataFrame.
Added 33.5214,-79.0975 to DataFrame.
Added 37.7836,-81.123 to DataFrame.
Added 39.47,-80.8571 to DataFrame.
Added 37.13194,-76.49306 to DataFrame.
Added 38.9817,-81.5659 to DataFrame.
Added 38.57,-79.2758 to DataFrame.
Added 37.0375,-77.9462 to DataFrame.
Added 37.3818,-79.233 to DataFrame.
Added 36.7297,-76.6015 to DataFrame.
Added 39.0736,-79.634 to DataFrame.
Added 38.6844,-82.1837 to DataFrame.
Added 35.0316,-81.4927 to DataFrame.
Added 36.5955,-76.4386 to DataFrame.
Added 38.2869,-79.8181 to DataFrame.
Added 38.7334,-77.4925 to DataFrame.
Added 36.6633,-80.9139 to DataFrame.
Added 36.6542,-80.9183 to DataFrame.
Added 32.48333,-80.71667 to DataFrame.
Added 32.6064,-80.3267 to DataFrame.
Added 37.2992,-77.2775 to DataFrame.
Added 38.0802,-78.875 to DataFrame.
Added 37.0679,-78.9517 to DataFrame.
Added 36.5729,-79.3351 to DataFrame.
Added 38.2062,-80.5205 to DataFrame.
Added 34.983000000000004,-83.0677 to DataFrame.
Added 37.08278,-76.36028 to DataFrame.
Added 39.2,-81.27 to DataFrame.
Added 36.7775,-78.4756 to DataFrame.
Added 33.3169,-79.3227 to DataFrame.
Added 34.2933,-79.74 to DataFrame.
Added 38.6661,-78.3727 to DataFrame.
Added 35.3872,-76.7763 to DataFrame.
Added 35.0247,-78.2758 to DataFrame.
Added 35.5044,-82.5966 to DataFrame.
Added 34.68333,-77.03333 to DataFrame.
Could not add 35.5453,-82.6987 to DataFrame
Added 35.0966,-82.9509 to DataFrame.
Added 35.7585,-82.2711 to DataFrame.
Added 35.8723,-76.6592 to DataFrame.
Added 35.6375,-83.09555999999999 to DataFrame.
Added 33.4527,-87.3572 to DataFrame.
Added 32.5575,-82.9036 to DataFrame.
Added 35.414,-86.8086 to DataFrame.
Added 33.3644,-81.9633 to DataFrame.
Added 35.2803,-85.2414 to DataFrame.
Added 36.5514,-84.7968 to DataFrame.
Added 34.64389,-86.78611 to DataFrame.
Added 31.70028,-83.62306 to DataFrame.
Added 31.5358,-82.5067 to DataFrame.
Added 31.860559999999996,-86.01222 to DataFrame.
Added 34.28778,-85.96806 to DataFrame.
Added 36.76,-88.1386 to DataFrame.
Added 32.66667,-85.91667 to DataFrame.
Added 37.591390000000004,-83.31444 to DataFrame.
Added 33.77917,-84.52139 to DataFrame.
Added 33.911,-87.8469 to DataFrame.
Added 33.5721,-86.0573 to DataFrame.
Added 33.35528,-84.56694 to DataFrame.
Added 35.7197,-86.9654 to DataFrame.
Added 35.6391,-85.3586 to DataFrame.
Added 30.8078,-81.4596 to DataFrame.
Added 37.1318,-86.1481 to DataFrame.
Added 35.655,-83.4411 to DataFrame.
Added 31.30889,-86.39389 to DataFrame.
Added 33.3996,-84.915 to DataFrame.
Added 34.4535,-87.7104 to DataFrame.
Added 31.2738,-81.9197 to DataFrame.
Added 35.6394,-84.665 to DataFrame.
Added 37.79278,-86.2325 to DataFrame.
Added 31.7633,-84.1869 to DataFrame.
Added 31.3127,-84.4706 to DataFrame.
Added 31.1923,-84.4465 to DataFrame.
Added 37.46667,-83.66056 to DataFrame.
Added 33.158,-85.2911 to DataFrame.
Added 30.74,-82.1278 to DataFrame.
Added 36.1075,-85.5033 to DataFrame.
Added 31.5075,-81.8628 to DataFrame.
Could not add 34.15,-85.6846 to DataFrame
Added 35.6031,-83.7781 to DataFrame.
Added 32.3349,-86.9787 to DataFrame.
Added 37.8299,-84.0347 to DataFrame.
Added 34.7752,-86.9508 to DataFrame.
Added 34.0966,-87.9913 to DataFrame.
Added 34.3388,-82.8341 to DataFrame.
Added 31.8814,-87.7367 to DataFrame.
Added 35.6878,-83.5373 to DataFrame.
Added 35.1131,-89.2122 to DataFrame.
Added 36.1142,-87.7419 to DataFrame.
Added 34.9786,-85.8008 to DataFrame.
Added 32.8347,-88.1341 to DataFrame.
Added 36.3211,-87.2218 to DataFrame.
Added 30.8264,-82.3606 to DataFrame.
Added 31.0767,-82.8003 to DataFrame.
Added 32.4419,-85.8889 to DataFrame.
Added 35.2897,-85.4736 to DataFrame.
Added 32.8753,-82.2156 to DataFrame.
Added 31.3972,-81.2811 to DataFrame.
Added 31.8453,-83.9409 to DataFrame.
Added 34.165,-84.73 to DataFrame.
Added 35.593,-88.9167 to DataFrame.
Added 36.9647,-86.4238 to DataFrame.
Added 30.5654,-87.7018 to DataFrame.
Added 36.37556,-86.18083 to DataFrame.
Added 37.7858,-84.7077 to DataFrame.
Finished Processing

In [50]:
# Check if any json requests were unsuccessful
missing_stations

[{'JSON': {'error_message': 'You have exceeded your rate-limit for this API.',
   'results': [],
   'status': 'OVER_QUERY_LIMIT'},
  'COORD': '35.5453,-82.6987'},
 {'JSON': {'error_message': 'You have exceeded your rate-limit for this API.',
   'results': [],
   'status': 'OVER_QUERY_LIMIT'},
  'COORD': '34.15,-85.6846'}]

In [51]:
# Retry API calls which didn't work

# Create empty list to store any API calls that don't work
missing_stations_2 = []

for entry in missing_stations:
    coord = entry['COORD']
    # Assemble url and make API call based on coordinates
    url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={coord}&key={gkey}'
    response = requests.get(url)
    geocoding = response.json()
    
    try:
        # Find zipcode and county within JSON response
        for dict in geocoding['results'][0]['address_components']:
            if 'administrative_area_level_2' in dict['types']:
                county = dict['long_name']
            if 'postal_code' in dict['types']:
                zipcode = dict['long_name']
        # Add zipcode and county to dataframe
        stations.loc[stations['COORD'] == coord, 'COUNTY'] = county
        stations.loc[stations['COORD'] == coord, 'ZIP'] = zipcode

        print(f'Added {coord} to DataFrame.')
    
    except:
        # Store any problematic coordinates
        missing_dict = {}
        missing_dict['JSON'] = geocoding
        missing_dict['COORD'] = coord
        missing_stations_2.append(missing_dict)
        print(f'Could not add {coord} to DataFrame')

print('Finished Processing')

Added 35.5453,-82.6987 to DataFrame.
Added 34.15,-85.6846 to DataFrame.
Finished Processing

In [52]:
# Preview DataFrame
stations

,STATION,NAME,LATITUDE,LONGITUDE,STATE,COORD,COUNTY,ZIP
0,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,WV,"39.5064,-78.3158",Alamance County,27258
1,USC00442009,"CORBIN, VA US",38.2022,-77.3747,VA,"38.2022,-77.3747",Avery County,28604
2,USC00440187,"AMELIA COURTHOUSE 1, VA US",37.3451,-77.9781,VA,"37.3451,-77.9781",Pitt County,27834
3,USC00442245,"DANVILLE, VA US",36.5869,-79.3886,VA,"36.5869,-79.3886",New Hanover County,28409
4,USC00466212,"MORGANTOWN LOCK AND DAM, WV US",39.6203,-79.9698,WV,"39.6203,-79.9698",Beaufort County,27889
...,...,...,...,...,...,...,...,...
927,USC00014798,"LIVINGSTON, AL US",32.5811,-88.1897,AL,"32.5811,-88.1897",Sumter County,35470
928,USC00152214,"DIX DAM, KY US",37.7858,-84.7077,KY,"37.7858,-84.7077",Mercer County,40330
929,USC00150397,"BARDSTOWN 5 E, KY US",37.8194,-85.3847,KY,"37.8194,-85.3847",Nelson County,40004
930,USC00152575,"ETOILE, KY US",36.8276,-85.8975,KY,"36.8276,-85.8975",Barren County,42141
931,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,TN,"35.7285,-86.6435",Rutherford County,37060

In [53]:
# Check that there are no missing values
stations.count()

STATION      932
NAME         932
LATITUDE     932
LONGITUDE    932
STATE        932
COORD        932
COUNTY       932
ZIP          932
dtype: int64

In [54]:
# Store station metadata in csv file
stations.to_csv('stations-metadata.csv', index=False)

In [15]:
# Merge station metadata with initial data
stations_subset = stations[['NAME', 'COUNTY', 'ZIP']]
df_clean_3 = pd.merge(df_clean_2, stations_subset, on='NAME')
df_clean_3

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DLY-TAVG-NORMAL,DLY-TAVG-STDDEV,DLY-TMAX-NORMAL,DLY-TMAX-STDDEV,DLY-TMIN-NORMAL,DLY-TMIN-STDDEV,STATE,COUNTY,ZIP
0,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-01,29.8,10.3,38.6,11.8,21.0,10.4,WV,Alamance County,27258
1,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-02,29.7,10.3,38.5,11.8,20.9,10.5,WV,Alamance County,27258
2,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-03,29.7,10.4,38.4,11.9,20.9,10.6,WV,Alamance County,27258
3,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-04,29.6,10.4,38.4,11.9,20.8,10.6,WV,Alamance County,27258
4,USC00461324,"CACAPON STATE PARK 2, WV US",39.5064,-78.3158,289.6,01-05,29.5,10.5,38.3,11.9,20.8,10.7,WV,Alamance County,27258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341114,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-27,38.3,NaN,47.8,NaN,28.7,NaN,TN,Rutherford County,37060
341115,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-28,38.1,NaN,47.7,NaN,28.6,NaN,TN,Rutherford County,37060
341116,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-29,38.0,NaN,47.6,NaN,28.5,NaN,TN,Rutherford County,37060
341117,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-30,37.9,NaN,47.4,NaN,28.4,NaN,TN,Rutherford County,37060
341118,USC00402711,"EAGLEVILLE 1 SW, TN US",35.7285,-86.6435,243.8,12-31,37.8,NaN,47.3,NaN,28.3,NaN,TN,Rutherford County,37060

In [16]:
# Store cleaned dataset in csv file
df_clean_3.to_csv('se-weather-cleaned.csv', index=False)